.delivery-background {
    background-color: rgb(244, 237, 237) !important;
}

.delivery-container {
    margin-top: 5rem !important;
}

.delivery-margin {
    margin-top: 2rem !important;
}

.actives {
    border: none !important;
    background-color: rgb(244, 237, 237) !important;
    color: red !important;
    border-bottom: 2px solid red !important;
}

.not-actives {
    color: black;
    opacity: 0.5;
}

small {
    opacity: 0.6;
}

.delivery-color {
    background-color:#FF4B2B !important;
}

.delivery-NavBar {
    color: white;
}

.delivery-icon {
    opacity: 0.7;
}

.delivery-margin-icon {
    margin-bottom: 0;
}

.text {
    line-height: 1.4rem;
}

.delivery-btn {
    background-color: #FF4B2B;
    padding: 0.7rem !important;
}

.delivery-btn:hover {
    background-color: #c92f13;
}